@use 'sass:map';
@import url(/styles/CSS/normalize.css);
@import url(/styles/fonts/open-sans/stylesheet.css);
@mixin cursorHover($type) {
  &:hover {
    cursor: $type;
  }
}
@mixin setWidthAndHeightToElements($width: auto, $height: auto) {
  width: $width;
  height: $height;
}
@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}
@mixin alignMainAndMinorAxis($mainAxis, $minorAxis) {
  justify-content: $mainAxis;
  align-items: $minorAxis;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // line-height: 1.5rem;
  // font-weight: bold;
}
$primaryFonts: (
  'bold': 'open_sansbold',
  'regular': 'open_sansregular',
  'light': 'open_sanslight',
);

$backgroundColor: #f0efe9;
body {
  background-color: $backgroundColor;
  font-family: map.get($primaryFonts, 'regular');
}

.container {
  @include flex(column);
  @include alignMainAndMinorAxis(center, center);
  @include setWidthAndHeightToElements(auto, 100vh);
}

%btnSave {
  margin-top: 1rem;
  border: none;
  background-color: white;
  color: #06d001;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  padding: 0.5rem;
  align-self: flex-end;
  &:hover {
    cursor: pointer;
  }
}

$containerWidth: 40rem;
$containerHeight: 55rem;
$todoAppTextColor: #616473;
.todoApp {
  // @include flex(column);
  // @include alignMainAndMinorAxis(space-between, flex-start);
  font-size: 1.5rem;
  @include setWidthAndHeightToElements($containerWidth, $containerHeight);
  position: relative;
  // outline: dotted red;
  margin: auto;
  color: $todoAppTextColor;
  background-color: white;
  padding: 3rem 4rem;
  // border-radius: 5px;
  box-shadow: 0 0 1px whitesmoke;
  .todoApp__header {
    // outline: dotted dodgerblue;
    @include setWidthAndHeightToElements(100%);
    @include flex(row);
    @include alignMainAndMinorAxis(space-between, center);

    .todoApp-date {
      @include flex(row);
      @include alignMainAndMinorAxis(center, center);
    }
    $letterSpacing: 0.1rem;
    .todoApp-month-year {
      text-transform: uppercase;
      .month {
        font-weight: bold;
        letter-spacing: $letterSpacing;
        margin: 0 {
          bottom: 0.2rem;
        }
      }
    }
    .todoApp-day--number {
      font-family: map.get($primaryFonts, 'bold');
      font-size: 5rem;
      margin: 0 {
        top: 2rem;
        bottom: 2rem;
        right: 1.5rem;
      }
    }

    .todoApp-day--string {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: $letterSpacing;
    }
  }

  .todoApp__footer {
    @include flex(row);
    @include alignMainAndMinorAxis(space-between, center);
    width: 80%;
    position: absolute;
    top: 93%;
    text-transform: capitalize;
    .tab--active {
      border-bottom: 1px solid rgb(31, 231, 57);
    }
    .task-tab,
    .finished-tab {
      @include cursorHover(pointer);
    }
  }
  .form {
    @include flex(column);
    @include alignMainAndMinorAxis(center, center);
    background-color: rgba(#000, 0.5);
    // outline: dotted dodgerblue;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    .addingTask {
      @include flex(column);
      @include alignMainAndMinorAxis(center, flex-start);
      border-radius: 1rem;
      padding: 2rem;
      margin-top: 3rem;
      background-color: white;
      width: 95%;
      height: 35%;
      label {
        font-size: 2rem;
      }
      input[type='text'] {
        margin: 1rem 0;
        height: 5rem;
        border-radius: 0.5rem;
        border: 1px solid $backgroundColor;
        width: 100%;
        &:focus {
          border: 1px solid;
          border-image: linear-gradient(45deg, #02a2f7, #06d001) 45;
          outline: none;
        }
      }
      ::placeholder {
        padding-left: 1rem;
      }
      .btn__save {
        @extend %btnSave;
      }
    }
  }
}
.btn {
  img {
    width: 50px;
    height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
  border: none;
  position: absolute;
  top: 95.5%;
  left: 44%;
  z-index: 2;
  background-color: rgba($backgroundColor, 0);
  &.btn--active {
    transform: rotate(45deg);
  }
}

.todoApp__body {
  // filter: blur(4px);
  .task__list {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    font-size: 2.1rem;
  }

  .task {
    // outline: dotted dodgerblue;
    @include cursorHover(pointer);
    @include flex(row);
    @include alignMainAndMinorAxis(space-between, center);
    padding: 1rem 0;
    margin: 1rem 0;
    input[type='checkbox'] {
      accent-color: #94ffd8;
      // background-color: white;
      @include setWidthAndHeightToElements(1.5rem, 1.5rem);
    }
  }

  .task-checked {
    text-decoration: line-through;
    font-family: map.get($primaryFonts, light);
  }
}

.hide {
  visibility: hidden;
}
$iconSize: 28px;
.task-finished {
  img {
    @include setWidthAndHeightToElements($iconSize, $iconSize);
  }
}

.task-edit {
  img {
    @include setWidthAndHeightToElements($iconSize, $iconSize);
    margin: 0 {
      left: 0.9rem;
    }
    @include cursorHover(pointer);
  }
}

// .form input[type="text"]:focus {
//   border: 1px solid;
//   outline: none;
//   transition: border 0.3s ease-in-out;
// }

.edit-btn {
  @extend %btnSave;
  margin: 0;
  color: #0ebbda;
}

.task-edit {
  &.task-edit--active {
    border: 1px solid #02a2f7;
    border-radius: 1rem;
  }
  input[type='text'] {
    padding: 0 {
      left: 0.5rem;
    }
    outline: none;
    border: none;
    border-radius: 3px;

    height: 100%;
    &:focus {
      outline: none;
    }
  }
}
